.env
.DS_Store
*.rar
*.zip
*.txt
*.log

.idea/
__pycache__/
.venv/
content/accounts/*
content/proxies/*
content/stories/*
content/usernames_list/*



!content/.gitkeep
!content/accounts/.gitkeep
!content/proxies/.gitkeep
!content/stories/.gitkeep
!content/usernames_list/.gitkeep